asgiref==3.9.1
black==25.9.0
click==8.3.0
dj-rest-auth==7.0.1
Django==5.2.6
django-cors-headers==4.9.0
djangorestframework==3.16.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.5.0
psycopg==3.2.10
psycopg-binary==3.2.10
python-decouple==3.8
python-dotenv==1.1.1
pytokens==0.1.10
sqlparse==0.5.3
